{
  "overrides": [
    {
      "files": "README.md",
      "options": {
        "parser": "markdown",
        "proseWrap": "always",
        "printWidth": 88,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": false,
        "trailingComma": "es5"
      }
    }
  ]
}
